@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --btnHover: #0E4F7F;
}

html {
  -webkit-font-smoothing: antialiased;
}

.vertical {
  width: 1px;
  height: 100%;

  border-left: 1px solid currentColor;
}

.hozizontal {
  width: 100%;
  height: 1px;

  border-top: 1px solid currentColor;
}

.newsletter-wrap::before, .newsletter-wrap::after {
  content: "";

  position: absolute;

  border: 30px solid #c4c4c4;
  border-radius: 50%;

  opacity: 0.1;

  width: 200px;
  height: 200px;
}

.newsletter-wrap::before {
  bottom: -30%;
  left: -10%;
}

.newsletter-wrap::after {
  top: -30%;
  right: -10%;
}

.focus-none:focus {
  border:none;
  outline: none;
}

.doz-btn-transition:hover {
  transition: all 0.1s ease-in-out;

  background-color: var(--btnHover);
  color: #fff;
}

.hamburger {
  width: 21px;
  height: 14px;

  position: absolute;
  top: 4%;
  right: 4%;
}

.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  left: 0;

  width: 100%;
  height: 1px;

  border-top: 2px solid #09092E;
}

.hamburger::before {
  top: 0;
}

.hamburger::after {
  bottom: 0;
}

input[name="collapse"]:checked ~ label {
  background-color: rgba(255, 255, 255, 0.05);
}

input[name="collapse"] ~ .collapse-menu {
  max-height: 0;
  overflow: hidden;
}

input[name="collapse"]:checked ~ .collapse-menu {
  max-height: 1000px;

  transition: max-height 1s linear;
}

input[name="collapse"] ~ label .arrow {
  transition: transform 0.3s;
}

input[name="collapse"]:checked ~ label .arrow {
  transform: rotate(180deg);

  color: #fff;
}